# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [1]:
import pandas as pd

In [2]:
import glob
import os

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
path = r'./gdrive/MyDrive/Data/Data'

In [5]:
marks = [i for i in glob.glob(os.path.join(path, "Students_ma*.csv"))]

In [6]:
info = [i for i in glob.glob(os.path.join(path, "Students_in*.csv"))]

In [7]:
df = pd.concat((pd.read_csv(f) for f in marks), ignore_index=True)

In [8]:
del df['index']

In [9]:
df1 = pd.concat((pd.read_csv(f) for f in info), ignore_index=True)

In [10]:
data = df.join(df1)

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [11]:
del data['index']

In [12]:
data.head(10)

   math score  reading score  ...  test preparation course   group
0          81             78  ...                     none  group1
1          56             54  ...                completed  group1
2          67             84  ...                     none  group1
3          80             76  ...                     none  group1
4          74             75  ...                     none  group1
5          69             67  ...                     none  group1
6          99             87  ...                completed  group1
7          51             52  ...                     none  group1
8          53             71  ...                completed  group1
9          49             57  ...                     none  group1

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
print(data.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
data.isnull().mean()

math score                     0.0
reading score                  0.0
writing score                  0.0
gender                         0.0
race/ethnicity                 0.0
parental level of education    0.0
lunch                          0.0
test preparation course        0.0
group                          0.0
dtype: float64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
data[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
data.groupby('test preparation course').mean()['math score']

test preparation course
completed    66.888268
none         65.643302
Name: math score, dtype: float64

In [ ]:
data.groupby('test preparation course').mean()['reading score']

test preparation course
completed    70.212291
none         68.587227
Name: reading score, dtype: float64

In [ ]:
data.groupby('test preparation course').mean()['writing score']

test preparation course
completed    69.346369
none         67.333333
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
print(data['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [19]:
data.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace = True)

time: 1.93 ms (started: 2021-02-14 16:54:44 +00:00)

In [20]:
data

     math score  reading score  ...  test preparation    group
0            81             78  ...              none   group1
1            56             54  ...         completed   group1
2            67             84  ...              none   group1
3            80             76  ...              none   group1
4            74             75  ...              none   group1
..          ...            ...  ...               ...      ...
995          56             79  ...         completed  group10
996          30             24  ...              none  group10
997          53             54  ...         completed  group10
998          69             77  ...         completed  group10
999          65             82  ...              none  group10

[1000 rows x 9 columns]

time: 38.7 ms (started: 2021-02-14 16:54:46 +00:00)

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
len(data[data['math score'] > 50]) / len(data['math score'])

0.85

In [ ]:
len(data[data["test preparation"] == 'completed']) / len(data[data['math score'] > 50])

0.4211764705882353

In [ ]:
type(data[data['gender'] == 'female'])

pandas.core.frame.DataFrame

In [ ]:
data['math_passed'] = ['no' if x =='none' else 'yes' for x in data['test preparation course']]

In [ ]:
len(data[(data['gender'] == 'female') & (data["test preparation"] == 'none') & (data['math score'] < 50)]) / len(data['gender'] == 'female')

0.044

time: 11.1 ms (started: 2021-01-25 19:55:16 +00:00)

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
!pip install ipython-autotime

Collecting ipython-autotime
  Downloading https://files.pythonhosted.org/packages/b4/c9/b413a24f759641bc27ef98c144b590023c8038dfb8a3f09e713e9dff12c1/ipython_autotime-0.3.1-py2.py3-none-any.whl
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (53.0.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.3.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->ipython-autotime) (0.7.0)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1

In [14]:
%load_ext autotime

time: 168 µs (started: 2021-02-14 16:52:56 +00:00)

In [ ]:
data.groupby('race/ethnicity').mean()['reading score']

race/ethnicity
group A    72.056180
group B    68.615789
group C    68.094044
group D    68.408397
group E    71.957143
Name: reading score, dtype: float64

time: 14 ms (started: 2021-01-25 19:09:55 +00:00)

In [ ]:
data.groupby('education').min()['writing score'].sort_values()

education
some college          10
high school           15
bachelor's degree     19
some high school      22
associate's degree    27
master's degree       36
Name: writing score, dtype: int64

time: 43 ms (started: 2021-01-25 19:09:57 +00:00)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [22]:
for ethnicity in set(data['race/ethnicity']):
  print(ethnicity, data[(data['race/ethnicity']==ethnicity)]['reading score'].mean())
print('\n')

group E 71.95714285714286
group A 72.0561797752809
group C 68.09404388714734
group D 68.40839694656489
group B 68.61578947368422


time: 16.6 ms (started: 2021-02-14 16:55:03 +00:00)

In [21]:
for education in set(data['education']):
  print(education, data[(data['education']==education)]['writing score'].min())
print('\n')

bachelor's degree 19
some college 10
some high school 22
associate's degree 27
high school 15
master's degree 36


time: 15.8 ms (started: 2021-02-14 16:54:57 +00:00)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
import numpy as np

time: 673 µs (started: 2021-01-25 19:10:09 +00:00)

In [ ]:
grouped = pd.pivot_table(data,index=['gender','education'],aggfunc={'math score':np.mean,'reading score':np.mean, 'writing score':np.mean})
grouped

                           math score  reading score  writing score
gender education
female associate's degree   67.689655      70.767241      69.413793
       bachelor's degree    67.761905      70.238095      69.095238
       high school          65.553191      69.510638      67.702128
       master's degree      69.194444      74.722222      73.805556
       some college         63.771186      67.372881      66.364407
       some high school     65.494505      68.296703      67.934066
male   associate's degree   62.518868      66.198113      64.330189
       bachelor's degree    65.509091      69.963636      68.854545
       high school          66.058824      66.637255      66.068627
       master's degree      68.304348      70.391304      69.347826
       some college         68.861111      70.796296      70.277778
       some high school     66.522727      70.670455      69.147727

time: 31.4 ms (started: 2021-01-25 19:28:42 +00:00)

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
data['Math_PassStatus'] = ['F' if x < 50 else 'P' for x in data['math score']]

time: 2.74 ms (started: 2021-01-25 19:29:30 +00:00)

In [ ]:
print(len(data[data['Math_PassStatus'] == 'F']), len(data[data['Math_PassStatus'] == 'P']))

135 865
time: 6.98 ms (started: 2021-01-25 19:29:32 +00:00)

In [ ]:
data['Reading_PassStatus'] = ['F' if x < 50 else 'P' for x in data['reading score']]

time: 3.08 ms (started: 2021-01-25 19:29:35 +00:00)

In [ ]:
print(len(data[data['Reading_PassStatus'] == 'F']), len(data[data['Reading_PassStatus'] == 'P']))

90 910
time: 8.38 ms (started: 2021-01-25 19:29:38 +00:00)

In [ ]:
data['Writing_PassStatus'] = ['F' if x < 50 else 'P' for x in data['writing score']]

time: 2.75 ms (started: 2021-01-25 19:34:47 +00:00)

In [ ]:
print(len(data[data['Writing_PassStatus'] == 'F']), len(data[data['Writing_PassStatus'] == 'P']))

114 886
time: 14.3 ms (started: 2021-01-25 19:34:48 +00:00)

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
data['pass1'] = data['Math_PassStatus'].apply(lambda x: 1 if x == 'P' else 0)
data['pass2'] = data['Reading_PassStatus'].apply(lambda x: 1 if x == 'P' else 0)
data['pass3'] = data['Writing_PassStatus'].apply(lambda x: 1 if x == 'P' else 0)
data['passed'] = data[['pass1', 'pass2', 'pass3']].sum(1)
data['OverAll_PassStatus'] = data['passed'].apply(lambda x: 'P' if x == 3 else 'F')

time: 15.1 ms (started: 2021-01-25 19:34:59 +00:00)

In [ ]:
data['OverAll_PassStatus']

0      P
1      P
2      P
3      P
4      P
      ..
995    P
996    F
997    F
998    P
999    P
Name: OverAll_PassStatus, Length: 1000, dtype: object

time: 3.92 ms (started: 2021-01-25 19:36:43 +00:00)

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(s):
    if s >= 90:
      s = "A"
    elif s >= 80 and s < 90:
      s = 'B'
    elif s >= 70 and s < 80:
      s = 'C'
    elif s >= 60 and s < 70:
      s = 'D'
    elif s >= 50 and s < 60:
      s = 'E'
    elif s < 50:
      s = 'F'
    return s

time: 5.18 ms (started: 2021-01-25 20:03:40 +00:00)

In [ ]:
data['Fore_Func'] = data[['math score', 'writing score', 'reading score']].mean(axis=1)
data['Fore_Func'] = data['Fore_Func'].apply(GetGrade)

time: 11 ms (started: 2021-01-25 20:03:41 +00:00)

In [ ]:
data

     math score  reading score  ...  OverAll_PassStatus Fore_Func
0            81             78  ...                   P         B
1            56             54  ...                   P         E
2            67             84  ...                   P         C
3            80             76  ...                   P         C
4            74             75  ...                   P         C
..          ...            ...  ...                 ...       ...
995          56             79  ...                   P         D
996          30             24  ...                   F         F
997          53             54  ...                   F         E
998          69             77  ...                   P         C
999          65             82  ...                   P         C

[1000 rows x 18 columns]

time: 54.5 ms (started: 2021-01-25 20:03:41 +00:00)